

.social_card_box {
    width: 100%; 
    max-width: 200vh;
    overflow-x: scroll;
    display: flex;
    cursor: pointer;
}

.social_card_box::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.social_card_box {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.carousel_card {
    display: flex;
    margin: 2vh;
}

.carousel_card .card {
    width:  30vh;
    height: auto;
    margin: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
    padding: 4vh;
    display: flex;
    border-radius: 4vh;
    flex-direction: column;
}